body {
	background-color: black;
}

.nav {
	border-radius: 5px;
	border: 3px ridge red;
	background-color: aquamarine;
	padding: 5px;
	margin-bottom: 10px;

}

.nav li {
	display: inline;
	font-size: 18px;
	font-family: "Times New Roman";
	padding: 5px;
}

#floatleft {
	float: left;
	position: relative;
} 

#floatleft li {
	margin-right: 10px;
}

#floatright {
	float: right;
	position: relative;
	right: 30;
}

.nav .subnav {
	display: none;
}

#floatright li:hover .subnav {
	display: block;
}

.subnav {
	position: absolute;
	left: 0px;
	z-index: 2;
	background-color: white;
}

.main #mainphoto {
	position: relative;
	border: 3px solid red;
	border-radius: 10px;
	margin-bottom: 10px;

}

.main #maincontent {
	position: absolute;
	padding: 10px;
	top: 3;
	left: 10;
}

.publications {
	float: right;
	border: 3px ridge red;
	width: 30%;
	background-color: aquamarine;
	padding-left: 5px;
	padding-right: 5px;
	height: 874px;

}

.photos {
	float: left;
	width: 66%;
	top 10;
	border: 3px ridge red;
	background-color: aquamarine;
	padding-left: 10px;
	
}